$faint-blue: #545F7D;
$light-green: #39CDCC;
$blue: #213F7D;

.layout-wrapper{
    position: relative;
    .body{
        padding-left: 300px;
        padding-top: 120px;
        min-height: 100vh;
        .mobile-view.search-div{
            display: none;
        }
    }
}

.switched{
    display: block;
}
.notswitched{
    display: none;
}
.active{
    background-color: rgba($light-green, 0.15);
    border-left: 4px solid $light-green;
    color: $blue;
}
.nav-wrapper{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    color: $blue;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0px 10px 10px -5px rgba($faint-blue, 0.15);
    padding: 20px 30px;
    background-color: white;
    z-index: 10;
    top: 0px;
    .search-div{
        position: relative;
        height: max-content;
        width: 40%;
        min-width: 250px;
        .input-wrapper{
            width: 100%;
        }
        .search-button{
            background-color: $light-green;
            padding: 10px 20px;
            width: 70px;
            position: absolute;
            right: 0px;
            top: 0px;
            height: 100%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            svg{
                color: white;
                font-size: 1.3rem;
            }
        }
    } 
    .profile{
        display: flex;
        align-items: center;
        width: 30%;
        max-width: 300px;
        justify-content: space-around;
        .docs{
            text-decoration: underline;
        }
        div{
            display: flex;
            align-items: center;
            // width: 30%;
            // justify-content: space-between;  
        }
    }
    .profile.mobile-view{
        display: none;
    }
} 
.sidebar-container{
    background-color: white;
    min-height: 100vh;
    height: 100%;
    padding-top: 110px;
    box-shadow: 10px 10px 10px -5px rgba($faint-blue, 0.15);
    position: fixed;
    z-index: 2;
    left: 0px;
    overflow-y: auto;
    // color: rgba($faint-blue,0.15);
    color: $faint-blue;
    .desktop-view{
        width: 300px;
        .nav-contents{
            padding: 10px 0px;
            .title{
                text-align: left;
                padding-left: 40px;
                font-size: 14px;
                color: $faint-blue;
                font-weight: 600;
            }
            .nav-content{
                display: flex;
                padding-left: 40px;
                cursor: pointer;
                &:hover{
                    background-color: rgba($light-green, 0.15);
                    border-left: 4px solid $light-green;
                    color: $blue;
                }
                p{
                    padding-left: 20px;
                    display: flex;
                    align-items: center;
                    svg{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    // .mobile-view{
    //     display: none;
    // }
}

@media screen and (max-width: 760px) {
    .layout-wrapper{
        .body{
            padding-left: 50px;
        }
    }

    .sidebar-container{
        .mobile-view{
            width: 80px;
            .nav-contents{
                .nav-content{
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 10px 0px;
                    img{
                        width: 25px;
                    }
                }
            }
        }
    }
    .nav-wrapper{
        .profile.desktop-view{
            .user-name{
                display: none;
            }
        }
    }
}

@media screen and (max-width:650px) {
    .nav-wrapper{
        .logo{
            width: 120px;
        }
    }
}

@media screen and (max-width:600px) {
    .nav-wrapper{
        .logo{
            width: 120px;
        }
    }
    .nav-wrapper{
        .profile.desktop-view{
            max-width: none;
            width: 40%;
        }
        .desktop-view.search-div{
            display: none;
        }
    }
}

@media screen and (max-width:500px) {
    .layout-wrapper{
        .body{
            padding-left: 40px;
            .mobile-view.search-div{
                padding-left: 30px;
                display: block;
                position: relative;
                .search-button{
                    background-color: $light-green;
                    padding: 10px 20px;
                    width: 70px;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    height: 100%;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    svg{
                        color: white;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .nav-wrapper{
        .profile.desktop-view{
            display: none;
        }
        .profile.mobile-view{
            display: flex;
            position: relative;
            width: max-content;
            .drop-down{
                position: absolute;
                background-color:#fff;
                border: 2px solid rgba($blue, 0.06);
                box-shadow: 0px 2px 4px rgba(black, 0.25);
                width: 200px;
                padding: 10px 20px;
                right: 0;
                top: 45px;
                .close-button svg{
                    right: 15px;
                    top: 10px;
                    position: absolute;
                }
                .dropdown-content{
                    display: block;
                }
            }
        }
    }
}
