$faint-blue: #545F7D;
$light-green: #39CDCC;
$blue: #213F7D;


.input-wrapper{
    width: 100%;
    // margin-top: 30px;
    // margin-bottom: 30px;
    position: relative;
    input{
        outline: none;
        border: 2px solid rgba($color: $faint-blue, $alpha: 0.15);
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 5px;
    }
    label{
        position: absolute;
        right: 20px;
        top: 30%;
        color: $light-green;
        cursor: pointer;
    }
}

.button-wrapper{
    width: 100%;
    .green-button{
        background-color: $light-green;
    }
    
    .white-button{
        background-color: inherit;
        border: 1px solid $blue;
        color: $blue;
        font-weight: 500;
    }
    button{
        outline: none;
        border: none;
        width: 100%;
        padding: 15px;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
        &:hover{
            scale: 1.04;
            transition: all .2s ease-in;
        }
    }
}

.card-wrapper{
    border: 2px solid rgba($blue, 0.06);
    padding: 20px;
    max-width: 220px;
    min-width: 120px;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img{
        width: fit-content;
    }
    &:hover{
        box-shadow: 0px 2px 4px rgba(black, 0.25);
        transition: all 0.3s ease-in;
        border: 1px solid rgba($blue, 0.06);
    }
    .analytics{
        color: $blue;
        font-weight: 500;
        font-weight: bold;
        font-size: 18px;
        margin: 0px;
    }
    .title{
        color: $faint-blue;
        font-size: 12px;
        font-weight: 600;
    }
}

.select-div{
    .title{
        text-align: left;
    }
    .select-wrapper{
        position: relative;
        select{
            width: 100%;
            outline: none;
            // border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 15px;
            border: 2px solid rgba($color: $faint-blue, $alpha: 0.15);
            border-radius: 5px;
            cursor: pointer;
    
        }
        &::after{
            content: '';
            background: url('../../../public/dropdown.svg') no-repeat right center;
            background-size: 20px; /* Adjust the size of the image as needed */
            width: 20px; /* Width of the custom arrow */
            height: 20px; /* Height of the custom arrow */
            position: absolute;
            top: 12px;
            right: 10px;
            pointer-events: none;
        }
    }
}


@media screen and (max-width: 500px) {
    .card-wrapper{
        max-width: none;
    }
}