$faint-blue: #545F7D;
$light-green: #39CDCC;
$blue: #213F7D;
.input-wrapper{
    width: 100%;
    // margin-top: 30px;
    // margin-bottom: 30px;
    position: relative;
    input{
        outline: none;
        border: 2px solid rgba($color: $faint-blue, $alpha: 0.15);
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 5px;
    }
    label{
        position: absolute;
        right: 20px;
        top: 30%;
        color: $light-green;
        cursor: pointer;
    }
}

.button-wrapper{
    width: 100%;
    button{
        outline: none;
        border: none;
        width: 100%;
        background-color: $light-green;
        padding: 15px;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
    }
}
.nav-wrapper{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    color: $blue;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0px 10px 10px -5px rgba($faint-blue, 0.15);
    padding: 30px 10px;
    padding-left: 30px;
    background-color: white;
    z-index: 10;
    top: 0px;
    .search-div{
        position: relative;
        height: max-content;
        width: 40%;
        min-width: 250px;
        .input-wrapper{
            width: 100%;
        }
        .search-button{
            background-color: $light-green;
            padding: 10px 20px;
            width: 70px;
            position: absolute;
            right: 0px;
            top: 0px;
            height: 100%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            svg{
                color: white;
                font-size: 1.3rem;
            }
        }
    } 
    .profile{
        display: flex;
        align-items: center;
        width: 30%;
        max-width: 300px;
        justify-content: space-between;
        .docs{
            text-decoration: underline;
        }
        div{
            display: flex;
            align-items: center;
            // width: 30%;
            // justify-content: space-between;  
        }
    }
} 
.sidebar-container{
    background-color: white;
    min-height: 100vh;
    height: 100%;
    padding-top: 110px;
    box-shadow: 10px 10px 10px -5px rgba($faint-blue, 0.15);
    width: 300px;
    position: fixed;
    z-index: 2;
    left: 0px;
    overflow-y: auto;
    // color: rgba($faint-blue,0.15);
    color: $faint-blue;
    .nav-contents{
        padding: 10px 0px;
        .title{
            text-align: left;
            padding-left: 40px;
            font-size: 14px;
            color: $faint-blue;
            font-weight: 600;
        }
        .nav-content{
            display: flex;
            padding-left: 40px;
            cursor: pointer;
            &:hover{
                background-color: rgba($light-green, 0.15);
                border-left: 4px solid $light-green;
                color: $blue;
            }
            p{
                padding-left: 20px;
                display: flex;
                align-items: center;
                svg{
                    margin-left: 10px;
                }
            }
        }
    }
}

.card-wrapper{
    border: 1px solid rgba($blue, 0.06);
    padding: 10px 20px;
    max-width: 220px;
    box-shadow: 0px 2px 4px rgba(black, 0.25);
    .analytics{
        color: $blue;
        font-family: 'AvenirNextBold';
        font-weight: bold;
        font-size: 18px;
    }
    .title{
        color: $faint-blue;
        font-size: 12px;
        font-weight: 600;
    }
}