$light-green: #39CDCC;
$dark-blue: #213F7D;
$faint-blue: #545F7D;
.wrapper{
    height: 100vh;
    width: 100vw;
    // padding: 0px 60px;
    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        .logo{
            position: absolute;
            top: 50px;
            left: 30px;
            img{
                text-align: left;
            }
        }
        .form-wrapper{
            width: 45%;
            display: flex;
            justify-content: center;
            box-shadow: -10px 0 10px -5px rgba($faint-blue, 0.15);
            height: 100%;
            align-items: center;
            padding: 0px 20px;
            min-width: 300px;
            .form-content{
                max-width: 500px;
                text-align: left;
                padding: 10px;
                width: 100%;
                .header{
                    color: $dark-blue;
                    font-size: 30px;
                    font-weight: 700;
                }
                span{
                    color: $faint-blue;
                }
                div{
                    .input-wrapper{
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                    .forgot-text{
                        text-align: left;
                        color: $light-green;
                        font-size: 15px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
        .images{
            width: 60%;
            max-width: 600px;
            img{
                display: block;
                width: 100%;
            }
        }
    }

}

@media screen and (max-width:600px){
    .wrapper{
        .content{
            min-width: 300px;
            .images{
                .sign-in{
                    display: none;
                }
                width: 0px;
            }
            .form-wrapper{
                width: 100%;
                box-shadow: none;
            }
        }
    }
}