$faint-blue: #545F7D;
$light-green: #39CDCC;
$blue: #213F7D;
$light-orange: #E9B200;
$lemon-green: #39CD62;
$danger-red: #E4033B;
.table-div{
    background-color: white;
    border: 1px solid rgba($blue, 0.06);
    box-shadow: 0px 2px 20px rgba(black, 0.05);
    overflow: scroll;
    padding: 15px;
    table{
        border-collapse: collapse;
        border-spacing: 20px;
        width: 100%;
        color: $faint-blue;
        table-layout: fixed;
        min-width: 760px;
        th,td{
            word-wrap: break-word; /* Wrap long words to prevent overflow */
            overflow-wrap: break-word; /* Wrap long words for compatibility */
            white-space: normal; /* Allow text to wrap within cells */    
            padding: 10px;   
        }
        thead{
            text-align: left;
            tr{
                font-size: 13px;
                th{
                    &:last-child{
                        width: 40px;
                    }
                    cursor: pointer;
                    .header{
                        display: flex;
                        align-items: center;
                        color: $faint-blue;
                        span{
                            margin-left: 5px;
                        }
                    }
                    div{
                        font-weight: 500;
                    }
                }
            }
        }
        tbody{
            text-align: left;
            tr{
                &:not(:last-child){
                    border-bottom: 2px solid rgba($color: $blue, $alpha: 0.1);
                }
                td{
                    width: auto;
                    button{
                        border: none;
                        border-radius: 50px;
                        outline: none;
                        padding: 8px 20px;
                    }
                    .inactive{
                        color: $faint-blue;
                        background-color: rgba($color: $faint-blue, $alpha: 0.2);
                    }
                    .pending{
                        color: $light-orange;
                        background-color: rgba($color: $light-orange, $alpha: 0.2);
                    }
                    .blacklisted{
                        color: $danger-red;
                        background-color: rgba($color: $danger-red, $alpha: 0.2);
                    }
                    .active{
                        color: $lemon-green;
                        background-color: rgba($color: $lemon-green, $alpha: 0.4);
                    }
                }
            }
        }
    }
    .pagination{
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $faint-blue;
        .select-wrapper{
            display: flex;
            align-items: center;
            .select-page{
                position: relative;
                display: block;
                width: fit-content;
                margin: 0px 8px;
                select{
                    outline: none;
                    background-color: rgba($blue, 0.10);
                    border: none;
                    padding: 10px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    position: relative;
                    width: 70px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                &::after{
                    content: '';
                    background: url('../../../../public/dropdown.svg') no-repeat right center;
                    background-size: 20px; /* Adjust the size of the image as needed */
                    width: 20px; /* Width of the custom arrow */
                    height: 20px; /* Height of the custom arrow */
                    position: absolute;
                    top: 7px;
                    right: 10px;
                    pointer-events: none;
                }
                .select-drop-down{
                    position: absolute;
                    right: 0px;
                }
            }
        }
        .pageIndex{
            display: flex;
            align-items: center;
            button.pagesArr{
                outline: none;
                border: none;
                margin: 0px 5px;
                padding: 8px;
                cursor: pointer;
            }
            button.next,
            button.prev{
                border: none;
                background-color: rgba($color: $blue, $alpha: 0.10);
                width: 30px;
                height: 30px;
                border-radius: 5px;
                margin: 0px 10px;
                cursor: pointer;
            }
        }
    }
}