*{
  box-sizing: border-box;
  font-family: 'AvenirNext', 'AvenirNextBold';
}
@font-face {
  font-family: 'AvenirNext';
  src: url('./fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'AvenirNextBold';
  src: url('./fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: bold; 
  font-style: normal;
}
