$blue: #213F7D;
.users-wrapper{
    padding: 20px 50px;
    .header{
        color: $blue;
        text-align: left;

    }
    .analytics-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        .card-wrapper{
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .users-wrapper{
        .analytics-wrapper{
            grid-template-columns: 1fr 1fr;
            // justify-items: center;
        }
    }
}